option_settings:
  aws:elasticbeanstalk:application:environment:
    POSTGRES_HOST: 127.0.0.1
    POSTGRES_DB: full_stack_dev
    POSTGRES_TEST_DB: full_stack_test
    POSTGRES_USER: full_stack_user
    POSTGRES_PASSWORD: password123
    POSTGRES_PORT: 5432
    BCRYPT_PASSWORD: 8]BS}T92=jPQfj7]
    SALT_ROUNDS: 10
    TOKEN_SECRET: wkCw&j\m7*wnW?$?
    ENV: prod
    RDS_HOSTNAME: postgres.ckry9talr84o.us-east-1.rds.amazonaws.com
    RDS_PORT: "5432"
    RDS_DB_NAME: postgres
    RDS_USERNAME: postgres
    RDS_PASSWORD: postgres
